*{
  margin: 0;padding: 0;box-sizing: border-box;
}



.App{
  min-height: 100vh;
  max-width: 100vw;
}

.nav-container{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 18vw;
  background-color:  #F7F5F2;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}
.main{
  position: relative;
  margin-left: 18vw;
  min-height: 100vh;
  max-width: 82vw;
  background-color: #DFDFDE;
}
.footer {
  background-color: #001530;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  align-items: center;

}

@media screen and (max-width:50em) {
  .nav-container{
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    width: 100vw;
  }
  .main{
    margin-top: 8vh;
    margin-left: 0;
    max-width: 100vw;
  }
}

